<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/About">About</a></li> 
	        		<li><a href="/Committees">Committees</a></li>
				<li><a href="/Conferences">Conferences</a></li>
	        	<!--	<li><a href="/blog">Blog</a></li>   -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<!--<ul>
	        	Follow us on Twitter:	<li><a href="https://twitter.com/KOZWaves">@KOZWaves</a></li>
				</ul>-->
			<ul>
 			<a href="https://twitter.com/KOZWaves?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @KOZWaves</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			
			<a href="https://twitter.com/intent/tweet?screen_name=KOZWaves&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @KOZWaves</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</ul>	
			</footer>
		</body>
	</html>
